### **Arjun Malhotra                                       21BBS0110**
### Vellore Institute of Technology (VIT), Vellore
### Evening Slot (6P.M to 8P.M)

In [ ]:
# Task 1 :

# Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

data = np.random.randn(4, 4)
df = pd.DataFrame(data)
print("Task 1: DataFrame:")
print(df)

Task 1: DataFrame:
          0         1         2         3
0  1.754517 -1.055781 -2.503078  1.445682
1  0.308820 -0.846768 -1.563272 -0.145815
2  1.168989 -0.335578 -0.735074 -0.647673
3  0.399279  0.313771 -0.335797  0.368834

In [ ]:
# Task - 2:

# Rename the task - 1 'df dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print("Task 2: Renamed columns:")
print(df)

Task 2: Renamed columns:
   Random value 1  Random value 2  Random value 3  Random value 4
0        1.754517       -1.055781       -2.503078        1.445682
1        0.308820       -0.846768       -1.563272       -0.145815
2        1.168989       -0.335578       -0.735074       -0.647673
3        0.399279        0.313771       -0.335797        0.368834

In [ ]:
# Task 3

# Find the descriptive statistics of the 'df' dataframe.

In [ ]:
descriptive_stats = df.describe()
print("Task 3: Descriptive Statistics:")
print(descriptive_stats)

Task 3: Descriptive Statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.907901       -0.481089       -1.284305        0.255257
std          0.683745        0.610182        0.959957        0.895573
min          0.308820       -1.055781       -2.503078       -0.647673
25%          0.376664       -0.899021       -1.798224       -0.271279
50%          0.784134       -0.591173       -1.149173        0.111510
75%          1.315371       -0.173241       -0.635255        0.638046
max          1.754517        0.313771       -0.335797        1.445682

In [ ]:
# Task 4

# Check for the null values in 'df' and find the data type of the columns.

In [ ]:
null_values = df.isnull().values.any()
data_types = df.dtypes
print("Task 4: Null Values and Data Types:")
print(null_values)
print(data_types)

Task 4: Null Values and Data Types:
False
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
# Task - 5

# Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
random_value_loc = df.loc[:, 'Random value 2':'Random value 3']
random_value_idx = df.iloc[:, 1:3]
print("Task 5: 'Random value 2' & 'Random value 3' Columns:")
print("Using loc:")
print(random_value_loc)
print("\nUsing iloc:")
print(random_value_idx)

Task 5: 'Random value 2' & 'Random value 3' Columns:
Using loc:
   Random value 2  Random value 3
0       -1.055781       -2.503078
1       -0.846768       -1.563272
2       -0.335578       -0.735074
3        0.313771       -0.335797

Using iloc:
   Random value 2  Random value 3
0       -1.055781       -2.503078
1       -0.846768       -1.563272
2       -0.335578       -0.735074
3        0.313771       -0.335797

COLAB LINK
https://colab.research.google.com/drive/1ya807b4LP9yS3BKHyzADscISA_45YGfF?usp=sharing